.klan300 {
margin: 0 auto;
width: 300px;
height: 250px;
background: url(https://1.bp.blogspot.com/-3GTTzhseQB0/XS_H3IgikkI/AAAAAAAAAZ4/Suz9cqTirUs5E21ExJkTZABm3Ds1VmdRwCLcBGAs/s1600/300disable.png) #f4f4f4
}
.iklan300{
margin: 0 auto;
width: 300px;
height: 250px;
background: url(https://1.bp.blogspot.com/-CF7q2xLQ5xs/XS_H3RcMQxI/AAAAAAAAAZ8/-um0Ds8zNjkfGzjNsfN39qxhyIVvWltHACLcBGAs/s1600/300ads.png) #f4f4f4
}
.klan728 {
width: 100%;
height: 90px;
margin-bottom: 10px;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
border-radius: 2px;
overflow: hidden;
margin-top: 10px;
background: url(https://4.bp.blogspot.com/-g9FYpC2GTNU/XN3ml9d0X8I/AAAAAAAAALo/I1dQOKMo_QYO8s8k7akp-_uINoIsKWBQQCLcBGAs/s1600/Adblockpls.png) #f4f4f4
}
